<ion-view view-title="PeriodicTable Group A (Sort by group)">
  <ion-content>
<ion-list-header>
<ion-label style="font-size:20px;"><B>Periodic VIIIA</B></ion-label>
</ion-list-header>
<ion-list>
<ion-item>
<a href="http://localhost:8100/#/app/Helium"><img src="img/l8/He.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Neon"><img src="img/l8/Ne.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Argon"><img src="img/l8/Ar.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Krypton"><img src="img/l8/Kr.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Xenon"><img src="img/l8/Xe.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Radon"><img src="img/l8/Rn.png" width="100%"></a>
</ion-item>
<!--<ion-item>
<a href="http://localhost:8100/#/app/Oganesson"><img src="img/l8/Og.png" width="100%"></a>
</ion-item>-->
</ion-list>
  </ion-content>
</ion-view>
