<ion-view view-title="PeriodicTable Group A (Sort by group)">
  <ion-content>
    <ion-list-header>
      <ion-label style="font-size:20px;"><B>Periodic IIIA</B></ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item>
        <a href="http://localhost:8100/#/app/Boron"><img src="img/l3/B.png" width="100%"></a>
      </ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Aluminium"><img src="img/l3/Al.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Gallium"><img src="img/l3/Ga.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Indium"><img src="img/l3/In.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Thallium"><img src="img/l3/Tl.png" width="100%"></a>
</ion-item>
<!--<ion-item>
<a href="http://localhost:8100/#/app/Nihonium"><img src="img/l3/Nh.png" width="100%"></a>
</ion-item>-->
</ion-list>
  </ion-content>
</ion-view>
