<ion-view view-title="PeriodicTable">
    <ion-content>
        <table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
            <tr>
                <td align="center" valign="middle">1</td>
                <td align="center" valign="middle">2</td>
                <td align="center" valign="middle">3</td>
                <td align="center" valign="middle">4</td>
                <td align="center" valign="middle">5</td>
                <td align="center" valign="middle">6</td>
                <td align="center" valign="middle">7</td>
                <td align="center" valign="middle">8</td>
                <td align="center" valign="middle">9</td>
                <td align="center" valign="middle">10</td>
                <td align="center" valign="middle">11</td>
                <td align="center" valign="middle">12</td>
                <td align="center" valign="middle">13</td>
                <td align="center" valign="middle">14</td>
                <td align="center" valign="middle">15</td>
                <td align="center" valign="middle">16</td>
                <td align="center" valign="middle">17</td>
                <td align="center" valign="middle">18</td>
            </tr>
            <tr>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
            </tr>
            <tr>
                <td align="center" valign="middle"><img src="img/icon/H.png" width="100%"></td>
                <td align="center" valign="middle">&nbsp;</td>
                <td colspan="10" rowspan="3" align="center" valign="middle"><img src="img/Detailgroup.PNG" width="100%">
                </td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle"><img src="img/icon/He.png" width="100%"></td>
            </tr>
            <tr>
                <td align="center" valign="middle"><img src="img/icon/Li.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Be.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/B.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/C.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/N.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/O.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/F.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ne.png" width="100%"></td>
            </tr>
            <tr>
                <td align="center" valign="middle"><img src="img/icon/Na.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Mg.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Al.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Si.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/P.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/S.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Cl.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ar.png" width="100%"></td>
            </tr>
            <tr>
                <td align="center" valign="middle"><img src="img/icon/K.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ca.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Sc.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ti.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/V.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Cr.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Mn.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Fe.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Co.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ni.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Cu.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Zn.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ga.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ge.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/As.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Se.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Br.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Kr.png" width="100%"></td>
            </tr>
            <tr>
                <td align="center" valign="middle"><img src="img/icon/Rb.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Sr.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/y.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Zr.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Nb.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Mo.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Tc.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ru.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Rh.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Pd.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ag.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Cd.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/In.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Sn.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Sb.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Te.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/I.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Xe.png" width="100%"></td>
            </tr>
            <tr>
                <td align="center" valign="middle"><img src="img/icon/Cs.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ba.png" width="100%"></td>
                <td align="center" valign="middle">75-71</td>
                <td align="center" valign="middle"><img src="img/icon/Hf.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ta.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/W.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Re.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Os.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ir.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Pt.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Au.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Hg.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Tl.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Pb.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Bi.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Po.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/At.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Rn.png" width="100%"></td>
            </tr>
            <tr>
                <td align="center" valign="middle"><img src="img/icon/Fr.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ra.png" width="100%"></td>
                <td align="center" valign="middle">89-103</td>
                <td align="center" valign="middle"><img src="img/icon/Rf.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Db.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Sg.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Bh.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Hs.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Mt.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ds.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Rg.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Cn.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Nh.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Fl.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Mc.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Lv.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ts.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Og.png" width="100%"></td>
            </tr>
        </table>
        <p>&nbsp;</p>
        <table width="100%" border="0">
            <tr>
                <td colspan="3" rowspan="2" align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle"><img src="img/icon/La.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ce.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Pr.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Nd.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Pm.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Sm.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Eu.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Gd.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Tb.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Dy.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Ho.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Er.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Tm.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Yb.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Lu.png" width="100%"></td>
            </tr>
            <tr>
                <td align="center" valign="middle"><img src="img/icon/Ac.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Th.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Pa.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/U.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Np.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Pu.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Am.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Cm.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Bk.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Cf.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Es.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Fm.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Md.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/No.png" width="100%"></td>
                <td align="center" valign="middle"><img src="img/icon/Lr.png" width="100%"></td>
            </tr>
        </table>
    </ion-content>
</ion-view>
