<ion-view view-title="PeriodicTable Group A (Sort by group)">
    <ion-content>
        <ion-list-header>
            <ion-label style="font-size:20px;"><B>Periodic IVA</B></ion-label>
        </ion-list-header>
        <ion-list>
            <ion-item>
                <a href="#/app/Carbon"><img src="img/l4/C.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Silicon"><img src="img/l4/Si.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Germanium"><img src="img/l4/Ge.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Tin"><img src="img/l4/Sn.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Lead"><img src="img/l4/Pb.png" width="100%"></a>
            </ion-item>
            <!--<ion-item>
                <a href="#/app/Flerovium"><img src="img/l4/Fl.png" width="100%"></a>
            </ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>
