<ion-view view-title="PeriodicTable Group A (Sort by group)">
  <ion-content>
<ion-list-header>
<ion-label style="font-size:20px;"><B>Periodic IIA</B></ion-label>
</ion-list-header>
<ion-list>
<ion-item>
<a href="http://localhost:8100/#/app/Beryllium"><img src="img/l2/Be.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Magnesium"><img src="img/l2/Mg.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Calcium"><img src="img/l2/Ca.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Strontium"><img src="img/l2/Sr.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Barium"><img src="img/l2/Ba.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Radium"><img src="img/l2/Ra.png" width="100%"></a>
</ion-item>
</ion-list>
  </ion-content>
</ion-view>
