<ion-view view-title="PeriodicTable Group A (Sort by group)">
    <ion-content>
        <ion-list-header>
            <ion-label style="font-size:15px;"><B>Periodic IA</B></ion-label>
        </ion-list-header>
        <ion-list>
            <ion-item>
                <a href="#/app/Hydrogen"><img src="img/l1/H.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Lithium"><img src="img/l1/Li.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Sodium"><img src="img/l1/Na.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Potassium"><img src="img/l1/K.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Rubidium"><img src="img/l1/Rb.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Caesium"><img src="img/l1/Cs.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Francium"><img src="img/l1/Fr.png" width="100%"></a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
