<ion-view view-title="PeriodicTable Group A (Sort by group)">
    <ion-content>
        <ion-list-header>
            <ion-label style="font-size:20px;"><B>Periodic IIIA</B></ion-label>
        </ion-list-header>
        <ion-list>
            <ion-item>
                <a href="#/app/Boron"><img src="img/l3/B.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Aluminium"><img src="img/l3/Al.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Gallium"><img src="img/l3/Ga.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Indium"><img src="img/l3/In.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Thallium"><img src="img/l3/Tl.png" width="100%"></a>
            </ion-item>
            <!--<ion-item>
                <a href="#/app/Nihonium"><img src="img/l3/Nh.png" width="100%"></a>
            </ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>
