<ion-view view-title="PeriodicTable Group A (Sort by group)">
  <ion-content>
<ion-list-header>
<ion-label style="font-size:20px;"><B>Periodic VIIA</B></ion-label>
</ion-list-header>
<ion-list>
<ion-item>
<a href="http://localhost:8100/#/app/Fluorine"><img src="img/l7/F.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Chlorine"><img src="img/l7/Cl.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Bromine"><img src="img/l7/Br.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Iodine"><img src="img/l7/I.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Astatine"><img src="img/l7/At.png" width="100%"></a>
</ion-item>
<!--<ion-item>
<a href="http://localhost:8100/#/app/Tennessine"><img src="img/l7/Ts.png" width="100%"></a>
</ion-item>-->
</ion-list>
  </ion-content>
</ion-view>
