<ion-view view-title="PeriodicTable Group A (Sort by group)">
  <ion-content>
<ion-list-header>
<ion-label style="font-size:20px;"><B>Periodic IVA</B></ion-label>
</ion-list-header>
<ion-list>
<ion-item>
<a href="http://localhost:8100/#/app/Carbon"><img src="img/l4/C.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Silicon"><img src="img/l4/Si.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Germanium"><img src="img/l4/Ge.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Tin"><img src="img/l4/Sn.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Lead"><img src="img/l4/Pb.png" width="100%"></a>
</ion-item>
<!--<ion-item>
<a href="http://localhost:8100/#/app/Flerovium"><img src="img/l4/Fl.png" width="100%"></a>
</ion-item>-->
</ion-list>
  </ion-content>
</ion-view>
