<ion-view view-title="PeriodicTable Group A (Sort by group)">
    <ion-content>
        <ion-list-header>
            <ion-label style="font-size:20px;"><B>Periodic VA</B></ion-label>
        </ion-list-header>
        <ion-list>
            <ion-item>
                <a href="#/app/Nitrogen"><img src="img/l5/N.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Phosphorus"><img src="img/l5/P.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Arsenic"><img src="img/l5/As.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Antimony"><img src="img/l5/Sb.png" width="100%"></a>
            </ion-item>
            <ion-item>
                <a href="#/app/Bismuth"><img src="img/l5/Bi.png" width="100%"></a>
            </ion-item>
            <!--<ion-item>
                <a href="#/app/Moscovium"><img src="img/l5/Mc.png" width="100%"></a>
            </ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>
