<ion-view view-title="PeriodicTable Group A (Sort by group)">
  <ion-content>
<ion-list-header>
<ion-label style="font-size:20px;"><B>Periodic VIA</B></ion-label>
</ion-list-header>
<ion-list>
<ion-item>
<a href="http://localhost:8100/#/app/Oxygen"><img src="img/l6/O.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Sulfur"><img src="img/l6/S.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Selenium"><img src="img/l6/Se.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Tellurium"><img src="img/l6/Te.png" width="100%"></a>
</ion-item>
<ion-item>
<a href="http://localhost:8100/#/app/Polonium"><img src="img/l6/Po.png" width="100%"></a>
</ion-item>
<!--<ion-item>
<a href="http://localhost:8100/#/app/Livermorium"><img src="img/l6/Lv.png" width="100%"></a>
</ion-item>-->
</ion-list>
  </ion-content>
</ion-view>
