<ion-view view-title="Aluminium">
  <ion-content>
    <table width="100%" border="0">
        <tr>
          <td bgcolor="#FF00FF">
            <center><img src="img/icon/Al.png" width="10%" />
          <H1>Aluminium</H1>
          </center></td>
        </tr>
      </table>
    <center><table width="100%" color="FF55FF" >
      <tr>
        <td align="center" valign="middle" color="FF55FF" ><h3><b>
        <p>เลขอะตอม = 13</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>สัญลักษณ์ = Al</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>ชื่อธาตุ = อะลูมิเนียม</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>มวลอะตอม = 26.982</p></b></h3></td>
      </tr>
      <tr>
        <td height="27" align="center" valign="middle" ><h3><b>ประเภทธาตุ = <strong>โลหะหลังทรานซิชัน</strong></b></h3></td>
      </tr>
    </table></center>

<table width="100%" border="0">
        <tr>
            <center><img src="img/picdetail/Al.png" width="90%"></center>
        </tr>
      </table>
  </ion-content>
</ion-view>
