<ion-view view-title="Boron">
  <ion-content>
    <table width="100%" border="0">
        <tr>
          <td bgcolor="#FF00FF">
            <center><img src="img/icon/B.png" width="10%" />
          <H1>Boron</H1>
          </center></td>
        </tr>
      </table>
    <center><table width="100%" color="FF55FF" >
      <tr>
        <td align="center" valign="middle" color="FF55FF" ><h3><b>
        <p>เลขอะตอม = 5</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>สัญลักษณ์ = B</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>ชื่อธาตุ = โบรอน</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>มวลอะตอม = 10.81</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>ประเภทธาตุ = ธาตุกึ่งโลหะ</b></h3></td>
      </tr>
    </table></center>

<table width="100%" border="0">
        <tr>
            <center><img src="img/picdetail/B.png" width="90%"></center>
        </tr>
      </table>
  </ion-content>
</ion-view>
