<ion-view view-title="Caesium">
  <ion-content>
    <table width="100%" border="0">
        <tr>
          <td bgcolor="#FF00FF">
            <center><img src="img/icon/Cs.png" width="10%" />
          <H1>Caesium</H1>
          </center></td>
        </tr>
      </table>
    <center><table width="100%" color="FF55FF" >
      <tr>
        <td align="center" valign="middle" color="FF55FF" ><h3><b>
        <p>เลขอะตอม = 55</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>สัญลักษณ์ = Cs</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>ชื่อธาตุ = ซีเซียม</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>มวลอะตอม = 132.91</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>ประเภทธาตุ = </b>โลหะแอลคาไล</h3></td>
      </tr>
    </table></center>

<table width="100%" border="0">
        <tr>
            <center><img src="img/picdetail/Cs.png" width="90%"></center>
        </tr>
      </table>
  </ion-content>
</ion-view>
