<ion-view view-title="Calcium">
  <ion-content>
    <table width="100%" border="0">
        <tr>
          <td bgcolor="#FF00FF">
            <center><img src="img/icon/Ca.png" width="10%" />
          <H1>Calcium</H1>
          </center></td>
        </tr>
      </table>
    <center><table width="100%" color="FF55FF" >
      <tr>
        <td align="center" valign="middle" color="FF55FF" ><h3><b>
        <p>เลขอะตอม = 20</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>สัญลักษณ์ = Ca</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>ชื่อธาตุ = แคลเซียม</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>มวลอะตอม = 40.078</p></b></h3></td>
      </tr>
      <tr>
        <td height="27" align="center" valign="middle" ><h3><b>ประเภทธาตุ = <strong>โลหะแอลคาไลน์เอิร์ท</strong></b></h3></td>
      </tr>
    </table></center>

<table width="100%" border="0">
        <tr>
            <center><img src="img/picdetail/Ca.png" width="90%"></center>
        </tr>
      </table>
  </ion-content>
</ion-view>
