<ion-view view-title="Gallium">
  <ion-content>
    <table width="100%" border="0">
        <tr>
          <td bgcolor="#FF00FF">
            <center><img src="img/icon/Ga.png" width="10%" />
          <H1>Gallium</H1>
          </center></td>
        </tr>
      </table>
    <center><table width="100%" color="FF55FF" >
      <tr>
        <td align="center" valign="middle" color="FF55FF" ><h3><b>
        <p>เลขอะตอม = 31</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>สัญลักษณ์ = Ga</p></b></h3></td>
      </tr>
      <tr>
        <td height="50" align="center" valign="middle" ><h3><b>
        <p>ชื่อธาตุ = แกลเดียม</p>
        </b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>มวลอะตอม = 69.723</p></b></h3></td>
      </tr>
      <tr>
        <td height="27" align="center" valign="middle" ><h3><b>ประเภทธาตุ = <strong>โลหะหลังทรานซิชัน</strong></b></h3></td>
      </tr>
    </table></center>

<table width="100%" border="0">
        <tr>
            <center><img src="img/picdetail/Ga.png" width="90%"></center>
        </tr>
      </table>
  </ion-content>
</ion-view>
