<ion-view view-title="Hydrogen">
  <ion-content>
    <table width="100%" border="0">
        <tr>
          <td bgcolor="#FF00FF">
            <center><img src="img/icon/H.png" width="10%" />
          <H1>Hydrogen</H1></center></td>
        </tr>
      </table>
    <center><table width="80%" color="FF55FF">
      <tr>
        <td align="left" valign="middle"></td>
        <td align="center"><h3><b><p>เลขอะตอม = 1</p></b></h3></td>
      </tr>
      <tr>
        <td align="left" valign="middle" ></td>
        <td align="center"><h3><b><p>สัญลักษณ์ = H</p></b></h3></td>
      </tr>
     <tr>
        <td align="left" valign="middle" ></td>
        <td align="center"><h3><b><p>ชื่อธาตุ = ไฮโดรเจน</p></b></h3></td>
      </tr>
      <tr>
        <td align="left" valign="middle" ></td>
        <td align="center"><h3><b><p>มวลอะตอม = 1.008</p></b></h3></td>
      </tr>
      <tr>
        <td align="left" valign="middle" ></td>
        <td align="center"><h3><b>ประเภทธาตุ = ก๊าซ</b></h3></td>
      </tr>
    </table></center>

<table width="100%" border="0">
        <tr>
            <center><img src="img/picdetail/H.png" width="90%"></center>
        </tr>
      </table>
  </ion-content>
</ion-view>
