<ion-view view-title="Iodine">
  <ion-content>
    <table width="100%" border="0">
        <tr>
          <td bgcolor="#FF00FF">
            <center><img src="img/icon/I.png" width="10%" />
          <H1>Iodine</H1>
          </center></td>
        </tr>
      </table>
    <center><table width="100%" color="FF55FF" >
      <tr>
        <td align="center" valign="middle" color="FF55FF" ><h3><b>
        <p>เลขอะตอม = 53</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>สัญลักษณ์ = I</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>ชื่อธาตุ = ไอโอดีน</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>มวลอะตอม = 126.90</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>ประเภทธาตุ = </b><strong>อโลหะ</strong></h3></td>
      </tr>
    </table></center>

<table width="100%" border="0">
        <tr>
            <center><img src="img/picdetail/I.png" width="90%"></center>
        </tr>
      </table>
  </ion-content>
</ion-view>
