<ion-view view-title="Moscovium">
  <ion-content>
    <table width="100%" border="0">
        <tr>
          <td bgcolor="#FF00FF">
            <center><img src="img/icon/Mc.png" width="10%" />
          <H1>Moscovium</H1>
          </center></td>
        </tr>
      </table>
    <center><table width="100%" color="FF55FF" >
      <tr>
        <td align="center" valign="middle" color="FF55FF" ><h3><b>
        <p>เลขอะตอม = 115</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>สัญลักษณ์ = Mc</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>ชื่อธาตุ = มอสโกเวียม</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>มวลอะตอม = 290</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>ประเภทธาตุ = </b><strong>ไม่มีธาตุ</strong></h3></td>
      </tr>
    </table></center>

<table width="100%" border="0">
        <tr>
            <center><img src="img/picdetail/Mc.png" width="90%"></center>
        </tr>
      </table>
  </ion-content>
</ion-view>
