<ion-view view-title="Rubidium">
  <ion-content>
    <table width="100%" border="0">
        <tr>
          <td bgcolor="#FF00FF">
            <center><img src="img/icon/Rb.png" width="10%" />
          <H1>Rubidium</H1>
          </center></td>
        </tr>
      </table>
    <center><table width="100%" color="FF55FF" >
      <tr>
        <td align="center" valign="middle" color="FF55FF" ><h3><b>
        <p>เลขอะตอม = 37</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>สัญลักษณ์ = Rb</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>ชื่อธาตุ = รูบิเดียม</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>มวลอะตอม = 85.468</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>ประเภทธาตุ = </b><strong>โลหะแอลคาไล</strong></h3></td>
      </tr>
    </table></center>

<table width="100%" border="0">
        <tr>
            <center><img src="img/picdetail/Rb.png" width="90%"></center>
        </tr>
      </table>
  </ion-content>
</ion-view>
