<ion-view view-title="Sodium">
  <ion-content>
    <table width="100%" border="0">
        <tr>
          <td bgcolor="#FF00FF">
            <center><img src="img/icon/Na.png" width="10%" />
          <H1>Sodium</H1>
          </center></td>
        </tr>
      </table>
    <center><table width="100%" color="FF55FF" >
      <tr>
        <td align="center" valign="middle" color="FF55FF" ><h3><b>
        <p>เลขอะตอม = 11</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>สัญลักษณ์ = Na</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>ชื่อธาตุ = โซเดียม</p></b></h3></td>
      </tr>
      <tr>
        <td align="center" valign="middle" ><h3><b>
        <p>มวลอะตอม = 22.990</p></b></h3></td>
      </tr>
      <tr>
        <td height="27" align="center" valign="middle" ><h3><b>ประเภทธาตุ = โลหะแอลคาไล</b></h3></td>
      </tr>
    </table></center>

<table width="100%" border="0">
        <tr>
            <center><img src="img/picdetail/Na.png" width="90%"></center>
        </tr>
      </table>
  </ion-content>
</ion-view>
